:root{
    --black: #212429;
    --white: white;
    font-family: "Montserrat";
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: var(--white);
}

.menu {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    border-bottom: #212429 1px solid;
    padding: 32px;
}

.container_1 {
    display: flex;
}

.container_2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    padding-right: 64px;
}

.hover {
    border: 1px;
    background-color: var(--white);
    font-size: 16px;
    font-family: "Montserrat";
    cursor: pointer;
}

.container_3 {
    display: flex;
    justify-content: space-between; 
}


h1 {
    padding-left: 32px;
}

.product_grid{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    justify-content: center;
}

.article{
    padding: 32px;
}

.article img {
    border-radius: 4%;
}

.information {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 32px;
}

.bottombar {
    background-color: #212429;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.footerimg {
    display: flex;
    border-radius: 50%;
}

.icon {
    background-color: var(--white);
    border-radius: 50%;
    padding: 8px;
}

.bottoninfo {
    padding-top: 16px;
    padding-left: 16px;
}

/*
media query es para poner estilos hasta un max-width o min-width de x píxeles:
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
*/
@media (max-width:800px){ 
    main > .product_grid{
        display: grid;
        grid-template-columns: 1fr;
    } 
}